
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: whitesmoke;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoHeader{
    display: flex;
    margin-inline-end: 50%;
    width: 15vw;
}
.listNav{
    
    display: flex;
    width: 100%;
}
.nav1{
    width: 50vw;
}

.itemList{
    cursor:pointer;
    font-size:larger;
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.itemList2{
    margin: 2%;
    cursor: pointer;
    font-size: larger;
    width: 100%;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
}

.section1{
    display: flow-root;
    justify-content:center;
    align-items:center;
    height: 90vh;
    background-image: url("./img/laranjaRecorte.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.text1{
    width: 50%;
    margin-top: 17%;
    margin-left: 12%;
    font-size: larger;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 800;
}
.text2{
    margin-top: 2%;
    width: 50%;
    margin-left: 12%;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 20px;
    font-variant: small-caps;
}
.section2{
    grid-gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}
.redeSocial{
   
    width: 30%;
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
}
.text3{
    width: 46%;
    font-size: 20px;
}
.div2{
    margin-left: 10%;
    margin-right: 20%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}